body * {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: rgb(74, 137, 255);
    height: 20vh;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    
}

header h1 {
    font-family: "Oswald", sans-serif;
    padding-left: 15px;
    font-size: 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(52, 123, 255);
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 6px 10px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgb(12, 96, 253);
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.search-form {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.search-form input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button {
    padding: 6px 12px;
    background-color: #fff;
    color: #292929;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: rgb(0, 89, 255);
    color: #fff;
}

main {
    margin-top: 50px;
    padding-top: 10px;
}

.content {
    padding: 1rem;
}

/*Styling för bilder och upplägg*/
.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.gallery-grid img {
    width: 300px;
    height: auto;
    border-radius:10px;
}

/*Styling för text för inlägg/gallery grids*/
.caption-grid, h1 {
    text-align:center;
}

.gallery-grid-big > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 59%;
    border-radius:25px;
}

/*Styling för profil-grid*/
.profile-container {
    text-align:center;
    margin-top: 2rem;
}

.profile-card {
background: linear-gradient(to top, rgba(74,79,81,0.3) 0%, rgba(189, 189, 189, 0.3) 1%, rgba(215, 215, 215, 0) 100%);

    padding: 2rem;
    border-radius:12px;
    width: 590px;
    margin: 0 auto;
    margin-top:10%;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00cfff;
    margin-bottom: 1rem;
}

.profile-name{
    margin:0;
    font-size:1.5rem;
    color: black;
}

.profile-program{
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 1.5rem;
}

.profile-button {
    display: block;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    width:500px;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    margin: 0.5rem 0;
    font-weight: bold;
}

.profile-button:hover {
    background: linear-gradient(to right, #007da0, #003372);
}

/* Styling för den mindre profilkortet ovanför portfolioinnehåll */
.profile-card-mini {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    margin: 1rem;
}

.mini-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d3d3d3;
    object-fit:cover;
}

.mini-profile-name {
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.mini-profile-badge {
    background-color: #239adf;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    font-size: 0.8rem;
}


/* Styling för footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
    height: 100px;
    margin-top: 50px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer h4 {
    color: rgb(74, 137, 255);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
    height: 100px;

    padding-top: 30px;
    margin-top: 50px;

    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer h4 {
    color: rgb(74, 137, 255);
}