body * { 
    font-family: "RUBIK", sans-serif ; /* importerad font, ska länkas i html-fil */
    font-style: normal;  
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    width:100%;
    color: rgb(255, 255, 255);
    background-color: rgb(74, 137, 255);
    height: 20vh;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);   
}

header h1 {
    font-family: "Oswald", "sans-serif" ;
    font-weight: weight;
    font-style: normal;
    font-size: 100px;
    padding-left: 15px;
}

.main{


    display: grid;
    height: 100vh;
    grid-template-columns: 1fr, 2fr, 1fr;
    grid-template-rows: repeat(4, minmax(200px,auto));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
   
    
}

nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(52, 123, 255);
        padding: 10px 20px;
    }

.navbar {
    display: flex;
    justify-content: center; 
    gap: 50px;
}

.navbar ul{
    display: flex;
    gap:20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar a{ 
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    padding: 6px 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    cursor: pointer;
    background-color: rgb(12, 96, 253);
    color: white;
    transition: all 0.5s;  /* När du hovrar över länken, 
    så kommer bakgrundsfärgen, textfärgen och padding att ändras mjukt över 0.5 sek. 
    ist för att ändras direkt.*/   
    padding: 6px 10px;
    border-radius: 10px;
}

.search-form{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    padding-right: 20px;
}

.search-form input{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button{
    padding: 6px 12px;
    background-color: rgb(255, 255, 255);
    color: #292929;
    border:#333;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: rgb(0, 89, 255);
    color: rgb(255, 255, 255);
}

.info-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

a {
    color: rgb(52, 123, 255);
    cursor: pointer;
}

.center button {
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: all 0.5s; 
    padding: 10px;
    background-color: rgb(58, 126, 242);
    color: #292929;
    border:#333;
    border-radius: 5px;
    width: 100px;
}

h3{
    font-size: large;

}
button:hover{

    background-color: rgb(171, 227, 244);
    color: rgb(0, 89, 255);
}
.info-box p {
    font-weight:500;
}
h2{
    color:  rgb(52, 123, 255);
}
.center{
    justify-content: center;
    width: 500px;
    height:250px;
    display: flex;
    flex-direction: column;
    border: 2px solid  #ccc;
    border-radius: 10px; 
    align-items: center; 
}
.center form{
    display: flex;
    flex-direction:column;
    width: 200px;
    align-self: center;   
}


footer { 
   text-align: center;
    background-color: rgb(202, 202, 202);
    height: 100px;

    padding-top: 30px;
    margin-top: 50px;

    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer h4 {
    color: rgb(74, 137, 255);
}