html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #2E2E2E;
    color: #f0f0f0;
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}

body * {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: #2E2E2E;
    color: #A5C9FF;
    height: 20vh;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

header h1 {
    padding-left: 15px;
    font-size: 100px;
    font-family: "Oswald", sans-serif;
}

/* Styling för navigation */
nav {
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, rgba(63,63,63,1) 28%, rgba(63,63,63,1) 53%, rgba(46,46,46,1) 100%);
}

/* Styling för navigation */
.navbar {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #A5C9FF;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 6px;
}

.navbar a:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    right: 20px;
}

.search-form input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #555;
    background-color: #1f1f1f;
    color: #eee;
    border-radius: 5px;
}

.search-form button {
    padding: 6px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}

main {
    padding-top: 120px;
    margin-top: 50px;
    padding: 20px;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.caption-grid, h1, h2, h3 {
    text-align: center;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 20px;
}

.gallery-grid img, .gallery-grid video {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.6);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #A5C9FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Tillbaka till min sida */
.profile-button {
    display: inline-block;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 40px;
}

.profile-button:hover {
    background: linear-gradient(to right, #007da0, #003372);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    height: 100px;
    padding-top: 30px;
    margin-top: 50px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.4);
}

footer h4 {
    color: #888;
}