html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background-color: #2E2E2E;
    color: #f0f0f0;
    overflow-x: hidden;
}

body * {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    color: #A5C9FF;
    background-color: #2E2E2E;
    height: 20vh;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

header h1 {
    padding-left: 15px;
    font-size: 100px;
    font-family: "Oswald", sans-serif;
}

/* Styling för navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f3f3f+28,3f3f3f+53,2e2e2e+100 */
    background: linear-gradient(to right,  rgba(63,63,63,1) 28%,rgba(63,63,63,1) 53%,rgba(46,46,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.navbar a {
    color: #A5C9FF;
    text-decoration: none;
    font-size: 25px;
    padding: 6px 10px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: #A5C9FF;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 6px;
}

/* Styling för sökning */
.search-form input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #555;
    background-color: #1f1f1f;
    color: #eee;
    border-radius: 5px;
}

.search-form button {
    padding: 6px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    padding-top: 10px;
}

/* Styling för portfoliokort */
.card {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.card-content h2 {
    color: #fff;
}

.card-content p {
    color: #ccc;
}

/* Styling för Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 30px;
    margin-top: 50px;
}

footer h4 {
    color: #888;
}
