<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MauPort - Error</title>
    <link href="/static/login.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>

    <main>

        <header id="header">
            <h1><a href="/" class="header-link">MauPort</a></h1>
        </header>

        <nav>
            <div class="navbar">
                <ul>
                    <li><a href="/">Startsida</a></li>
                    <li><a href="/profile">Min sida</a></li>
                    <li><a href="{{ url_for('upload_files') }}">Publicera</a></li>
                    <li><a href="#">Om oss</a></li>
                    <li><a href="/settings">Inställningar</a></li>
                    <li><a href="/login">Logga in</a></li>
                    <li><a href="/register">Registrera dig</a></li>
                </ul>
                <form class="search-form" method="get" action="{{ url_for('search') }}">
                    <input type="search" name="query" id="search" placeholder="Sök..." required>
                    <button type="submit">Sök</button>
                </form>
            </div> 
        </nav>

     <div class="main">

        <div class="info-box">
            <h1> 404 - sidan kunde ej hittas </h1>
            <p>Vänligen försök igen!</p>
        </div>    
        
    </main>    

    <footer> 
        <h4>© 2025 MauPort. All rights reserved.</h4>
    </footer>    

</body>
</html>