<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MauPort</title>
        <link href="/static/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <header>
            <h1>MauPort</h1>
        </header>
        
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('index')}}">Startsida</a></li>
                <li><a href="/profile">Min sida</a></li>
                <li><a href="{{ url_for('upload_files') }}">Ladda upp</a></li>
                <li><a href="#">Om oss</a></li>
                <li><a href="#">Inställningar</a></li>
                <li><a href="{{ url_for('login')}}">Logga in</a></li>
                <li><a href="{{ url_for('register') }}">Registrera dig</a></li>
            </ul>
            <form class="search-form">
                <input type="search" id="search" placeholder="Sök...">
                <button type="submit">Sök</button>
            </form>
        </nav>

        <main>
            <!--HÄR SKALL ALLA PORTFOLIOS LÄGGAS-->
        </main>

        <footer>
            <h4>© 2025 MauPort. All rights reserved.</h4>
        </footer>

    </body>
</html>