<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MauPort</title>
    <link href="/static/login.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>

    <main>

        <header id="header">
            <h1> MauPort </h1>
        </header>

        <nav>
            <div class="navbar">
                <ul>
                    <li><a href="/">Startsida</a></li>
                    <li><a href="/profile">Min sida</a></li>
                    <li><a href="{{ url_for('upload_files') }}">Ladda upp</a></li>
                    <li><a href="#">Om oss</a></li>
                    <li><a href="#">Inställningar</a></li>
                    <li><a href="/login">Logga in</a></li>
                    <li><a href="{{ url_for('register') }}">Registrera dig</a></li>
                </ul>
                <form class="search-form">
                    <input type="search" id="search" placeholder="Sök...">
                    <button type="submit">Sök</button>
                </form>
            </div> 
        </nav>

     <div class="main">

        <div class="info-box">
            <h2> EN PLATS FÖR PROJEKT, INSPIRATION OCH NYA KONTAKTER </h2>
            <p> MauPort är ett verktyg där du kan skapa din portfolio, 
                utforska andras arbete och hitta liknande kreatörer inom fakulteten 
                Teknik och Samhälle vid Malmö Universitet. </p>
        </div>    
        <div class="center">
            <h3> Logga in </h3>
            <!--
            <form action="#"> Marinas gamla formulär.
                <label for="username"> Användarnamn/E-mail:</label>
                    <input type="text" id="username" name="E-mail" size="15" maxlength="45">
                    <a href="#">Skapa profil</a>
              
                <label for="password"> Lösenord:</label>
                    <input type="password" id="password" name="password" size="15" maxlength="20">
                    <a href="#"> Glömt lösenord </a>
                <div class="login_button">     
                    <button> <a href="profile.html"> Logga in </a> </button>
                </div>    
                </p>
            -->
                <!--<FORM TILL LOGIN KOPPLAT TILL PYTHON:<!-->
                <form action="{{url_for('login')}}" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required placeholder="Enter your username">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required placeholder="Enter your password">
                </div>

                <div class="form-group">
                    <button type="submit">Login</button>
                </div>

                <div class="form-group">
                    <p>Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
                </div>

            </form>
        </div>
    </div>
    </main>    

    <footer> 
        <h4>© 2025 MauPort. All rights reserved.</h4>
    </footer>    

    
</body>
</html>