<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MauPort - Portfolio</title>
    <link href="/static/portfolio.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>MauPort</h1>
</header>

<nav>
    <ul class="navbar">
        <li><a href="/">Startsida</a></li>
        <li><a href="/profile">Min sida</a></li>
        <li><a href="{{ url_for('upload_files') }}">Ladda upp</a></li>
        <li><a href="#">Om oss</a></li>
        <li><a href="#">Inställningar</a></li>
        <li><a href="/login">Logga in</a></li>
        <li><a href="{{ url_for('register') }}">Registrera dig</a></li>
    </ul>
    <form class="search-form">
        <input type="search" id="search" placeholder="Sök...">
        <button type="submit">Sök</button>
    </form>
</nav>

<main>
    <a href="profile.html" class="profile-card-mini">
        <img src="Photos/stockphotostudent.jpg" alt="profilbild" class="mini-profile-picture">
        <span class="mini-profile-name">NAMN</span>
        <span class="mini-profile-badge">PROGRAM/KURS</span>
    </a>
    
    <section class="content">
        <div class="header">
            <h1>MITT PORTFOLIOINLÄGG!</h1>
        </div>

        <div class="gallery-grid-big">
            <img src="Photos/0_HxHHfXD0QbLInasZ.jpg">
        </div>

        <div class="gallery-grid">
            <img src="Photos/1_-Ux6UAPTbJxgWb_XCH6cag.gif">
            <img src="Photos/03_Freshbooks.jpg">
        </div>

        <div class="caption-grid">
            <p>Sample text here... Describe your project - tell us more - express yourself.</p> 
        </div>

        <div class="gallery-grid">
            <img src="Photos/snakebattle.webp">
            <img src="Photos/take-awesome-pictures-phone.webp">
        </div>

        <div class="profile-container">
            <div class="profile-card">
                <img src="Photos/stockphotostudent.jpg" alt="profilbild" class="profile-picture">
                <h2 class="profile-name">NAMN</h2>
                <p class="profile-program">PROGRAM/KURS</p>
                <a href="profile.html" class="profile-button">BESÖK PROFIL</a>
            </div>
        </div>
        
        
    </section>
</main>

<footer>
    <h4>© 2025 MauPort. All rights reserved.</h4>
</footer>

</body>
</html>