<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MauPort</title>
        <link href="/static/search_content.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <header>
            <h1>MauPort</h1>
        </header>

        <nav>
            <div class="navbar">
                <ul>
                    <li><a href="/">Startsida</a></li>
                    <li><a href="/profile">Min sida</a></li>
                    <li><a href="{{ url_for('upload_files') }}">Skapa portfolio</a></li>
                    <li><a href="/about">Om oss</a></li>
                    {% if 'user_id' in session %}
                        <li><a href="{{ url_for('logout') }}">Logga ut</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Logga in</a></li>
                        <li><a href="{{ url_for('register') }}">Registrera dig</a></li>
                    {% endif %}
                </ul>
                <form class="search-form" method="get" action="{{ url_for('search') }}">
                    <input type="search" name="query" id="search" placeholder="Sök..." required>
                    <button type="submit">Sök</button>
                </form>
            </div> 
        </nav>
        <main>
            <div class="profile-wrapper">
                <h2> Sökresultat för: "{{ search_input }}" </h2>
        
                {% if portfolios %}
                <div class="portfolio-container {% if few_results %}few-results{% endif %}">
                    {% for portfolio in portfolios %}
                    <a href="/portfolio/{{ portfolio[0] }}" class="portfolio-link">
                        <div class="portfolio-card">
                            <div class="portfolio-image">
                                {% if portfolio[6] %}
                                    <img src="{{ url_for('static', filename=portfolio[6]) }}" alt="Portfolio-bild">
                                {% else %}
                                    <img src="/static/placeholder.jpg" alt="Placeholder-bild">
                                {% endif %}
                            </div>
                            <div class="portfolio-content">
                                <h3>{{ portfolio[1] }}</h3>
                                <p><b>{{ portfolio[5] }}</b></p> <!-- Namnet på användaren -->
                                <p>{{ portfolio[7] }}</p>        <!-- Program -->
        
                                {% if portfolio[0] in saved_ids %}
                                <button class="save-btn active" data-portfolio-id="{{ portfolio[0] }}">Inlägg sparad!</button>
                                {% else %}
                                <button class="save-btn" data-portfolio-id="{{ portfolio[0] }}">Spara inlägg</button>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                    <p>Inga resultat hittades för din sökning.</p>
                {% endif %}
            </div>
        </main>
        
        <footer>
            <h4>© 2025 MauPort. All rights reserved.</h4>
        </footer>
    
    </body>
</html>


