<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MauPort</title>
        <link href="/static/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <header>
            <h1>MauPort</h1>
        </header>
        
        <nav>
            <ul class="navbar">
                <li><a href="/">Startsida</a></li>
                <li><a href="/profile">Min sida</a></li>
                <a href="{{ url_for('upload_files') }}">Publicera</a>
                <li><a href="#">Om oss</a></li>
                <li><a href="/settings">Inställningar</a></li>
                <li><a href="/login">Logga in</a></li>
                <li><a href="{{ url_for('register') }}">Registrera dig</a></li>
            </ul>
            <form class="search-form" method="get" action="{{ url_for('search') }}">
                <input type="search" name="query" id="search" placeholder="Sök..." required>
                <button type="submit">Sök</button>
            </form>
        </nav>

        <main>
            <h1>Ladda upp portfolio</h1>
        
            <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="Titel" required><br><br>
                <textarea name="text_content" placeholder="Beskrivning" required></textarea><br><br>
                <input type="text" name="thumbnail" placeholder="Kategori" required><br><br>
        
                <input type="file" name="file" id="fileInput" multiple><br><br>
        
                <div id="fileList"></div>
        
                <input type="submit" value="Publicera">
            </form>
        
            <script>
            const fileInput = document.getElementById('fileInput');
            const fileList = document.getElementById('fileList');
        
            fileInput.addEventListener('change', function() {
                fileList.innerHTML = '';
        
                Array.from(fileInput.files).forEach((file, index) => {
                    const fileItem = document.createElement('div');
                    fileItem.innerHTML = `${file.name} <button type="button" onclick="removeFile(${index})">X</button>`;
                    fileList.appendChild(fileItem);
                });
            });
        
            function removeFile(index) {
                let dt = new DataTransfer();
                let files = fileInput.files;
        
                Array.from(files).forEach((file, i) => {
                    if (index !== i) {
                        dt.items.add(file);
                    }
                });
        
                fileInput.files = dt.files;
                fileInput.dispatchEvent(new Event('change'));
            }
            </script>
        </main>
        

        <footer>
            <h4>© 2025 MauPort. All rights reserved.</h4>
        </footer>

    </body>
</html>