<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <title>MauPort – Skapa portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/upload.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <h1><a href="/" class="header-link">MauPort</a></h1>
    </header>

    <nav>
        <div class="navbar">
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/profile">Min sida</a></li>
                <a href="{{ url_for('upload_files') }}">Publicera</a>
                <li><a href="#">Om oss</a></li>
                <li><a href="/settings">Inställningar</a></li>
                <li><a href="/login">Logga in</a></li>
                <li><a href="/register">Registrera dig</a></li>
            </ul>
            <form class="search-form" method="get" action="{{ url_for('search') }}">
                <input type="search" name="query" id="search" placeholder="Sök..." required>
                <button type="submit">Sök</button>
            </form>
        </div>
    </nav>

    <main class="upload-main">

        <div class="center">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            {% endwith %}
          
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="title-section">
                <input type="text" id="titleInput" name="title" placeholder="Välj titel..." required>
                <h1 id="titleDisplay" class="title-display hidden"></h1>
            </div>
        
            <div class="thumbnail-section">
                <label for="thumbnail">Välj en thumbnail till ditt portfolio!</label>
                <input type="file" name="thumbnail" id="thumbnail" accept=".jpg,.jpeg,.png" required>
            </div>
        
            <div class="drop-zone" id="dropZone">
                <p>Dra och släpp filer här eller klicka för att välja</p>
                <input type="file" id="fileInput" name="files" multiple hidden>
            </div>
        
            <div id="fileList" class="file-list"></div>
        
            <textarea name="text_content" placeholder="Beskriv ditt projekt..." required></textarea>
        
            <div class="button-wrapper">
                <button type="submit" class="publish-btn">Publicera</button>
            </div>
        </form>
        
    </main>
    <script defer src="/static/upload.js"></script>
    <footer>
        <h4>© 2025 MauPort. All rights reserved.</h4>
    </footer>
</body>
</html>